
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.conteiner {
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    
   
    
}
.span1 {
    color: black;
   
}
.ul1 {
    display: inline-block;
    list-style-type: none;
    text-decoration: none;

 }